<configuration>
    <modules path="modules">
        <module path="megavideo.js"/>
        <module path="megaporn.js"/>
        <module path="youtube.js"/>
        <module path="xhamster.js"/>
        <module path="youporn.js"/>
        <module path="redtube.js"/>
        <module path="pornzapp.js"/>
    </modules>
</configuration>
